/*Buttons*/
.btn{
	display: inline-block;
	padding: 15px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.85em;
	font-weight: bold;
	min-width: 200px;
	@media screen and (max-width: 390px){
		min-width: auto;
	}
	&.brown{
		border:2px solid #a57900;
		background-color: #a57900;
		color:#FFF;
		&:hover{
			border:2px solid #a57900;
			background-color: transparent;
			color:#a57900;
		}
	}
	&.purple{
		border:2px solid #5c3f8e;
		background-color: #5c3f8e;
		color:#FFF;
		&:hover{
			border:2px solid #5c3f8e;
			background-color: transparent;
			color:#5c3f8e;
		}
	}
	&.brown-outline{
		border:2px solid #a57900;
		color:#FFF;
		&:hover{
			border:2px solid #a57900;
			background-color: #a57900;
			color:#FFF;
		}
	}
}