/*
760 break mobile
*/
#checkout{
	padding-bottom: 80px;
	.hide{
		display: none;
	}
	.invisible{
		visibility: hidden;
	}
	.wrapper{
		padding: 60px 40px;
		@media screen and (max-width: 460px){
			padding: 30px 20px;
		}
		h1{
			text-transform: uppercase;
			margin: 40px 0;
		}
		#step-nav{
			ul{
				margin: 0px;
				padding: 0px;
				list-style: none;
				li{
					padding: 0px;
					margin: 0px;
					float: left;
					width: 33.3333%;
					text-align: center;
					@media screen and (max-width: 760px){
						float: none;
						width: 100%;
					}
					a{
						display: block;
						padding: 40px 10px;
						text-decoration: none;
						background-color: #efefef;
						color:#858597;
						border: 1px solid #d0bc7f;
						text-transform: uppercase;
						@media screen and (max-width: 760px){
							padding: 20px 10px;
						}
					}
					&.active{
						a{
							background-color: #FFF;
						}
					}
				}
			}
		}
		.txt-center{
			margin: 40px 0px;
			@media screen and (max-width: 760px){
				margin: 20px 0px;
			}
			.form-checkout{
				max-width: 860px;
				margin: auto;
				padding-top: 60px;
				padding-bottom: 20px;
			}
		}
		#step-2{
			h2{
				font-size: 1.35em;
				background-color: #5c3f8e;
				color:#FFF;
				padding: 5px 10px;
				margin-bottom: 5px;
				margin-top: 20px;
			}
			form{
				position: relative;
				.content{
					float: left;
					width: calc(100% - 320px);
					@media screen and (max-width: 760px){
						width: 100%;
						float: none;
					}
				}
				.sidebar{
					float: left;
					width: 300px;
					margin-left: 20px;
					margin-top: 20px;
					position: relative;
					@media screen and (max-width: 760px){
						float: none;
						width: 100%;
						margin: 0px;
					}
					p{
						margin: 0px;
					}
					.sticky{
						position: fixed;
						padding: 15px 20px;
						border: 1px solid #d0bc7f;
						box-sizing: border-box;
						background-color: #f1f1f1;
						width: 300px;
						@media screen and (max-width: 760px){
							position: relative;
							width: 100%;
						}
						.btn{
							width: 100%;
							text-align: center;
							margin-top: 20px;
						}
					}
					.total{
						font-size: 1em;
						font-weight: bold;
						text-align: right;
					}
				}
			}
			.row{
				margin-bottom: 10px;
				padding: 8px;
				border: 1px solid #d0bc7f;
				&.total{
					text-align: right;
					font-size: 1.5em;
					font-weight: bold;
					padding: 0 20px;
				}
				label{
					margin: 0px;
					padding: 0px;
				}
				.dish-data{
					float: left;
					width: calc(100% - 120px);
					box-sizing: border-box;
					span{
						display: block;
						line-height: 1.35;
						&.description{
							font-size: .85em;
							font-style: italic;
							padding-top: 5px;
						}
					}
				}
				.form-data{
					float: left;
					width: 120px;
					box-sizing: border-box;
					padding-left: 20px;
					text-align: right;
				}
				&:nth-child(odd){
					background-color: #f1f1f1;
				}
			}
			.variations{
				border: 1px solid #d0bc7f;
				padding: 5px;
				margin-bottom: 10px;
				margin-left: 20px;
				.row{
					&:last-child{
						margin: 0px;
					}
				}
			}
		}
		#step-3{
			display: none;
			&.active{
				display: block;
			}
			#customer-information{
				padding: 20px;
				background-color: #F1F1F1;
				h2{
					margin: 0px;
					margin-bottom: 20px;
				}
				.form-row{
					margin-bottom: 15px;
					label{
						display: block;
						margin-bottom: 5px;
						&.error{
							color:red;
							padding-top: 5px;
							font-size: .75em;
						}
					}
					input{
						width: 100%;
						padding: 5px;
						font-size: 1em;
						box-sizing: border-box;
					}
				}
			}
			.final-checkout{
				padding-top: 40px;

				#checkout-data{
					float: left;
					width: calc( 100% - 350px );
					box-sizing: border-box;
					@media screen and (max-width: 695px){
						float: none;
						width: 100%;
					}
				}
				.payment{
					float: left;
					width: 350px;
					box-sizing: border-box;
					padding: 20px;
					@media screen and (max-width: 695px){
						float: none;
						width: 100%;
						padding: 0px;
					}
					h2{
						font-size: 1.5em;
						margin-bottom: 10px;
					}
				}

				table{
					width: 100%;
					margin-bottom: 20px;
					tr{
						td{
							padding: 10px;
							&:last-child{
								text-align: right;
							}
						}
					}
					tbody{
						tr{
							&:nth-child(odd){
								background-color: #F1F1F1;
							}
						}
					}
					thead{
						background-color: #5c3f8e;
						color:#FFF;
					}
					tfoot{
						background-color: #a57900;
						color:#FFF;
					}
				}
			}
		}
		#step-4{
			display: none;
			&.active{
				display: block;
			}

		}
	}
}

#paypal-button-container{
	position: relative;
	.disable{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color:rgba(255,255,255,.45);
	}
}