body{
	font-size: 16px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#6a6b84;
}
*:focus {
    outline: none;
}
.page-wrapper{
	max-width: 1920px;
	margin: auto;
	text-align: left;
}
.wrapper{
	max-width: 1260px;
	margin: auto;
	text-align: left;
	padding: 0 25px;
	box-sizing: border-box;
}
.white-container{
	background-color: #FFF;
	padding: 100px 80px;
	max-width: 1660px;
	margin: auto;
	text-align: left;
	box-sizing: border-box;
	@media screen and (max-width: 690px){
		padding: 40px 40px
	}
	@media screen and (max-width: 490px){
		padding: 40px 20px
	}
}
strong,b{
	font-weight:bold;
}
.max-width{
	max-width: 100%;
}
.txt-center{
	text-align: center;
}
.txt-right{
	text-align: right;
}
.txt-left{
	text-align: left;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
p.quote{
	font-family: 'MinionPro-It';
	color:#b38b6e;
	font-size: 1.65em;
}
p.small{
	font-size: 1em;
}
.bg-gray{
	background-color: #f2f2f2;
}
.bg-white{
	background-color: #FFF;
}
.hide{
	visibility: hidden;
}
.bg-image{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.two-columns{
	position: relative;
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	//ms
	display: -ms-flexbox; /* Safari */
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	.col{
		width: 50%;
		box-sizing: border-box;
		padding: 20px;
		@media screen and (max-width: 890px){
			width: 100%;
			padding: 0px;
		}
	}
}

.four-columns{
	position: relative;
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	//ms
	display: -ms-flexbox; /* Safari */
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	.col{
		width: 25%;
		padding: 20px;
		box-sizing: border-box;
		@media screen and (max-width: 990px){
			width: 50%;
		}
		@media screen and (max-width: 590px){
			width: 100%;
			padding: 0px;
		}
	}
}

.three-columns{
	position: relative;
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

	//ms
	display: -ms-flexbox; /* Safari */
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	.col{
		width: 33.33%;
		padding: 40px;
		box-sizing: border-box;
		@media screen and (max-width: 1190px){
			padding: 20px;
		}
		@media screen and (max-width: 890px){
			width: 100%;
		}
		@media screen and (max-width: 490px){
			padding: 40px 0px;
		}
	}
}