/*Fonts*/
@font-face {
  font-family: 'Helvetica-Black';
  src: url('Helvetica-Black.eot');
  src: local('Helvetica-Black'),
    url('../fonts/Helvetica-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Helvetica-Black.woff2') format('woff2'),
    url('../fonts/Helvetica-Black.woff') format('woff'),
    url('../fonts/Helvetica-Black.ttf') format('truetype'),
    url('../fonts/Helvetica-Black.svg#Helvetica-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueLight.woff') format('woff'),
  url('../fonts/HelveticaNeueLight.ttf')  format('truetype'),
  url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueRegular.woff') format('woff'),
  url('../fonts/HelveticaNeueRegular.ttf')  format('truetype'),
  url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionWebPro';
  src: url('../fonts/MinionWebPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MinionWebPro.woff') format('woff'),
  url('../fonts/MinionWebPro.ttf')  format('truetype'),
  url('../fonts/MinionWebPro.svg#MinionWebPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-It';
  src: url('../fonts/MinionPro-It.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MinionPro-It.otf')  format('opentype'),
	     url('../fonts/MinionPro-It.woff') format('woff'),
	     url('../fonts/MinionPro-It.ttf')  format('truetype'),
	     url('../fonts/MinionPro-It.svg#MinionPro-It') format('svg');
  font-weight: normal;
  font-style: normal;
}