#footer{
	background-color: #1e2530;
	color:#B28A6E;
	padding: 40px 0px;

	.col-left{
		float: left;
		width: 30%;
		box-sizing: border-box;
		padding-right: 50px;
		@media screen and (max-width: 960px){
			width: 100%;
			float: none;
			margin-bottom: 10px;
			text-align: center;
			padding: 0px;
		}
		@media screen and (max-width: 390px){

		}
		ul{
			padding: 0px;
			margin: 0px;
			list-style: none;
			li{
				margin: 0px;
				float: left;
				width: 50%;
				@media screen and (max-width: 390px){
					width: 100%;
					float: none;
					text-align: center;
				}
				a{
					color:#B28A6E;
					text-decoration: none;
					font-size: .85em;
				}
			}
		}
	}
	.col-mid{
		float: left;
		width: 40%;
		text-align: center;
		box-sizing: border-box;
		@media screen and (max-width: 960px){
			width: 100%;
			float: none;
			margin-bottom: 20px;
			margin-top: 40px;
		}
		img{
			margin-bottom: 30px;
		}
		p{
			font-size: .75em;
		}
	}
	.col-right{
		float: left;
		width: 30%;
		padding-left: 50px;
		box-sizing: border-box;
		@media screen and (max-width: 960px){
			width: 100%;
			float: none;
			padding: 0px;
			text-align: center;
		}
		p{
			color:#FFF;
			font-weight: 300;
			font-size: .85em;
			strong{
				font-size: 1.5em;
				font-weight: 400;
			}
		}
	}
	.title{
		text-transform: uppercase;
		color:#FFF;
		font-size: 1.25em;
		font-weight: 300;
		margin-bottom: 30px;
		display: block;
	}
	p{
		font-size: 1em;
	}
}