.form,
.form-checkout{
	input,
	select,
	textarea,
	.select{
		border: 0px;
		margin: 0px;
		padding: 20px 20px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
		text-decoration: none;
		font-size: 1em;
		box-sizing: border-box;
		width: 100%;
		background-color: #f2f2f2;
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		&.error{
			border: 2px solid red;
		}
	}
	input[type="checkbox"]{
		display: inline-block;
		width: auto;
	}
	.select{
		padding: 20px 20px;
		select{
			margin: 0px;
		}
	}
	.btn{
		margin-top: 10px;
		margin-bottom: 10px;
		box-sizing: border-box;
		padding: 22px 15px;
	}

	label{
		margin-top: 30px;
		margin-bottom: 20px;
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		&.error{
			color:red;
			margin: 10px 0px;
			display: block;
			text-align: left;
			display: none !important;
		}
	}

	.input-icon{
		input{
			float: left;
			width: calc(100% - 68px);
		}
		.icon{
			display: block;
			width: 58px;
			float: left;
			margin-top: 10px;
			margin-left: 10px;
			img{
				width: 100%;
			}
		}
	}

	.radio{
		text-decoration: none;
		margin-right: 20px;
		color:#6a6b84;
		.container{
			width: 58px;
			height: 58px;
			overflow: hidden;
			background-color: #f2f2f2;
			display: inline-block;
			border-radius: 50%;
			box-sizing: border-box;
			border: 15px solid #f2f2f2;
			input{
				visibility: hidden;
			}
		}
		.text{
			position: relative;
			top: -19px;
		}
		&.active{
			.container{
				background-color: #a57900;
			}
		}
	}

	.two-columns{
		.col{
			padding: 0 0px;
			&:first-child{
				padding-right: 10px;
			}
			&:last-child{
				padding-left: 10px;
			}
		}
	}

	.inline{
		.input{
			float: left;
			width: 50%;
			padding: 0px 10px;
			box-sizing: border-box;
			@media screen and (max-width: 590px){
				float: none;
				width: 100%;
				padding: 0px;
			}
			.btn{
				width: 100%;
			}
			.btn{
				text-align: center;
			}
		}
	}
}