.home{
	#main-header{
		#logo{
			a{
				border-right: 2px solid #bec1d6;
				border-left: 2px solid #bec1d6;
				background-color: #FFF;
			}
		}
	}
}

#main-header{
	border-bottom: 1px solid #bec1d6;
	background-color: #f2f2f2;
	width: 100%;
	overflow: hidden;
	#logo{
		float: left;
		width: 160px;
		height: 100px;
		text-align: center;
		a{
			line-height: 100px;
			display: inline-block;
			width: 100%;
			border-right: 2px solid transparent;
			border-left: 2px solid transparent;
			box-sizing: border-box;
			&:hover{
				border-right: 2px solid #bec1d6;
				border-left: 2px solid #bec1d6;
				background-color: #FFF;
			}
			img{
				vertical-align: middle;
				width: 110px;
				height: auto;
			}
		}
	}
	//End logo

	#main-navigation{
		float: right;
		width: calc(100% - 180px);
		box-sizing: border-box;
		text-align: center;

		@media screen and (max-width: 970px){
			display: none;
		}

		ul{
			margin: 0px;
			padding: 0px;
			list-style: none;
			display: -webkit-flex; /* Safari */
			display: flex;
			flex-flow: row wrap;

			//ms
			display: -ms-flexbox; /* Safari */
			-ms-flex-direction: row;
			-ms-flex-wrap: wrap;
			justify-content: space-between;

			li{
				line-height: 100px;
				margin: 0px;
				padding: 0px;

				&.current-menu-item{
					a{
						border-right: 2px solid #bec1d6;
						border-left: 2px solid #bec1d6;
						background-color: #FFF;
						font-weight: bold;
					}
				}

				a{
					font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 1em;
					text-decoration: none;
					font-weight: 300;
					text-transform: uppercase;
					color:#6a6b85;
					display: block;
					vertical-align: middle;
					padding:0 20px;
					border-right: 2px solid transparent;
					border-left: 2px solid transparent;

					@media screen and (max-width: 1170px){
						padding: 0 5px;
					}
					&:hover{
						border-right: 2px solid #bec1d6;
						border-left: 2px solid #bec1d6;
						background-color: #FFF;
					}
				}
			}
		}
	}

	//Mobile
	#mobile-button{
		position: absolute;
		top: 30px;
		right: 25px;
		font-size: 200%;
		display: none;
		color:#6a6b85;
		@media screen and (max-width: 970px){
			display: block;
		}
	}
}

#mobile-navigation{
	display: none;
	&.active{
		display: block;
		@media screen and (min-width: 970px){
			display: none;
		}
	}
	ul{
		list-style: none;
		padding: 0px;
		margin: 0px;
		li{
			padding: 0px;
			margin: 0px;
			a{
				display: block;
				padding: 20px;
				text-decoration: none;
				border-bottom: 2px solid #bec1d6;
				font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    			font-size: 1em;
    			text-transform: uppercase;
    			color:#6a6b85;
    			background-color: #f1f1f1;
			}
			&.current-menu-item{
				a{
					font-weight: bold;
					background-color: #FFF;
				}
			}
		}
	}
}

.post-type-archive-careers,
.single-careers{
	#main-navigation{
		#menu-item-19{
			a{
				border-right: 2px solid #bec1d6;
				border-left: 2px solid #bec1d6;
				background-color: #FFF;
				font-weight: bold;
			}
		}
	}
}

.single-post{
	#main-navigation{
		#menu-item-22{
			a{
				border-right: 2px solid #bec1d6;
				border-left: 2px solid #bec1d6;
				background-color: #FFF;
				font-weight: bold;
			}
		}
	}
}