#hero-section{
	.slider{
		.slide{
			.content{
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-position: center center;
				color:#FFF;
				display: table;
				width: 100%;
				box-sizing: border-box;
				.aligned{
					display: table-cell;
					text-align: center;
					vertical-align: bottom;
					background-color: rgba(0,0,0, .25);
					padding-bottom: 80px;
					height: 550px;
					box-sizing: border-box;
					@media screen and (max-width: 790px){
						padding-left: 20px;
						padding-right: 20px;
					}
					h1{
						text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
						@media screen and (max-width: 790px){
							padding-top: 100px;
						}
					}
					.btn{
						&:hover{
							color:#FFF;
							background-color: rgba(0,0,0,.45);
						}
					}
				}
			}
		}
	}
}