.slider{
	overflow: hidden;
	width: 100%;
	text-align: center;
	position: relative;

	.slide{
		display: none;
		margin: auto;
		@media screen and (max-width: 740px){
			padding: 0px;
		}

		&.active{
			display: block;
		}

		.padding{
			padding: 40px;

			.circle{
				width: 150px;
			    height: 150px;
			    background-size: cover;
			    background-repeat: no-repeat;
			    box-sizing: border-box;
			    background-position: center center;
			    display: inline-block;
			    border-radius: 50%;
			    border: 5px solid #FFF;
			    float: left;
			    margin-right: 20px;
			    margin-top: 20px;
			}
			.data{
				float: left;
				width: calc(100% - 170px);
				text-align: left;
				font-size: 18px;
				margin-bottom: 10px;
				line-height: 1.25;
				padding-top: 40px;
				color:#FFF;
				p{
					font-style: italic;
				}
				.author-data{
					padding-top: 20px;
				}
			}
		}
	}
	.slider-control{
		padding: 0px;
		display: inline-block;
		margin:auto;
		margin-top: 25px;
		list-style: none;
		margin-bottom: 10px;
		position: relative;
		top: -70px;

		li{
			float: left;
			margin: 0 2px;

			a{
				display: inline-block;
				background-color: transparent;
			    border: 1px solid #989b9d;
			    width: 10px;
			    height: 10px;
			    -moz-border-radius: 50%;
			    -webkit-border-radius: 50%;
			    border-radius: 50%;
			    text-indent: -99999px;
			    background-color: #989b9d;
			}

			&.active{
				a{
					background-color: #a57900;
					border-color: #a57900;
				}
			}
		}
	}
}