#news{
	text-align: center;
	.wrapper{
		#news-container{
			padding: 80px 40px;
			@media screen and (max-width: 690px){
				padding: 40px 0;
			}
			h1{
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 40px;
			}
			.post{
				margin-bottom: 60px;
				.image{
					height: 360px;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					background-position: top center;
				}
				.excerpt{
					padding: 40px;
					border: 1px solid #c9c4db;
					@media screen and (max-width: 690px){
						padding: 30px 20px;
					}
					h2{
						font-family: 'Helvetica-Black';
						text-transform: uppercase;
						@media screen and (max-width: 690px){
							text-align: center;
						}
					}
					a{
						color:#a57900;
						padding: 15px 30px;
						text-transform: uppercase;
						&:hover{
							color:#FFF;
						}
					}
				}
			}
		}
	}
}