#template-home{
	width: 100%;
	overflow: hidden;
	#philosophy{
		.wrapper{
			padding-bottom: 60px;
			div.quote{
				padding-top: 40px;
			}
		}
	}

	#events{
		.wrapper{
			padding:0px;
		}
		.main-event{

			.two-columns{
				.text{
					padding: 40px;
				}
			}
		}
		.event-list{
			position: relative;
			display: -webkit-flex; /* Safari */
			display: flex;
			flex-flow: row wrap;

			//ms
			display: -ms-flexbox; /* Safari */
			-ms-flex-direction: row;
			-ms-flex-wrap: wrap;
			.event-col{
				width: 25%;
				position: relative;
				min-height: 350px;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-position: center center;
				@media screen and (max-width: 890px){
					width: 50%;
				}
				@media screen and (max-width: 690px){
					width: 100%;
				}

				.overlay{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.45);
				}
				.text{
					position: absolute;
					bottom: 20px;
					left: 50%;
					width: 100%;
					padding: 20px;
					box-sizing: border-box;
					.btn{
						padding: 20px 40px;
						box-sizing: border-box;
						position: relative;
						left: calc(-50% - 20px);
						width: 100%;
						text-align: center;
					}
				}
			}
		}//event-list
	}

	#bottom-logos{
		padding: 60px 0px;
		text-align: center;

		.logo-list{
			.wrapper{
				position: relative;
				display: -webkit-flex; /* Safari */
				display: flex;
				flex-flow: row wrap;

				//ms
				display: -ms-flexbox; /* Safari */
				-ms-flex-direction: row;
				-ms-flex-wrap: wrap;
				.col{
					display: flex;
					display: -ms-flexbox; /* Safari */
					display: -webkit-flex; /* Safari */

					flex-direction: column;
					-ms-flex-direction: column;

					text-align: center;
					justify-content: center;
					text-align: center;
					@media screen and (max-width: 690px){
						width: 100% !important;
						margin-bottom: 20px;
					}
					a{
						@media screen and (max-width: 690px){
							display: inline-block;
							max-width: 350px;
							margin: auto;
						}
						img{
							max-width: 90%;
							margin: 0px;
							@media screen and (max-width: 690px){
								max-width: 100%;
							}
						}
					}
				}
			}
		}
	}
}