#food-whine{
	#fw-1{
		position: relative;
		padding-bottom: 60px;
		.three-columns{
			.col{
				padding: 0px;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-position: top center;
				.overlay{
					background-color: rgba(0,0,0,.5);
					color:#FFF;
					padding-top: 270px;
					padding-bottom: 50px;
					display: block;
					text-decoration: none;
					&:hover{
						background-color: rgba(0,0,0,.1);
					}
				}
			}
		}
	}
}