#careers{
	#hero-section{
		.content{
			min-height: 550px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			color:#FFF;
			display: table;
			width: 100%;
			.aligned{
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				background-color: rgba(0,0,0, .25);
				padding-bottom: 60px;
				@media screen and (max-width: 790px){
					padding-left: 20px;
					padding-right: 20px;
				}
				h1{
					padding-top: 320px;
					text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
					@media screen and (max-width: 790px){
						padding-top: 100px;
					}
				}
			}
		}
	}
	.career-single{
		background-color: #FFF;
		padding: 40px;
		h1{
			text-align: center;
			font-weight: bold;
			margin-bottom: 40px;
		}
		.cta{
			margin-top: 80px;
			&.center{
				text-align: center;
				.btn{
					margin: auto;
					min-width: 200px;
				}
			}
		}
	}
	.career-list{
		padding: 40px 20px;
		display: -webkit-flex; /* Safari */
		display: flex;
		flex-flow: row wrap;

		//ms
		display: -ms-flexbox; /* Safari */
		-ms-flex-direction: row;
		-ms-flex-wrap: wrap;
		.career-post{
			width: calc(50% - 20px);
			background-color: #FFF;
			padding: 40px;
			box-sizing: border-box;
			margin: 10px;
			@media screen and (max-width: 790px){
				width: calc(100% - 20px);
			}
			h2{
				font-size: 1.5em;
				text-align: center;
				font-weight: bold;
				margin-bottom: 40px;
			}
			.excerpt{
				line-height: 1.5;
				p{
					font-size: 1em;
				}
			}
			.cta{
				padding-top: 40px;
				.btn{
					display: inline-block;
					width: calc(50% - 20px);
					text-align: center;
					float: left;
					box-sizing: border-box;
					margin-right: 10px;
					margin-left: 10px;
					@media screen and (max-width: 490px){
						width: calc(100% - 20px);
						margin: 10px;
					}
				}
			}
		}
	}
}