#spectator-events{

	p.small{
		font-size: 80%;
		padding: 10px 0;
	}

	#sv-1{
		padding-bottom: 60px;
		.wrapper{
			h2{
				font-family: 'Helvetica-Black';
				font-size: 3.5em;
			}
		}
	}
	#sv-2{
		padding: 40px 0px;
		.header-container{
			padding-bottom: 40px;
		}
		.cta-container{
			padding-top: 40px;
		}
		.four-columns{
			.col{
				padding: 0px;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				background-position: top center;
				.overlay{
					background-color: rgba(0,0,0,.5);
					color:#FFF;
					padding-top: 180px;
					padding-bottom: 80px;
					display: block;
					text-decoration: none;
					&:hover{
						background-color: rgba(0,0,0,.1);
					}
				}
			}
		}
	}
}