#contact-page{
	background-color: #f2f2f2;
	text-align: center;
	.wrapper{
		&.bg-white{
			background-color: #FFF;
		}
		&.bg-purple{
			background-color: #5c3f8e;
		}
	}
	#mailing{
		text-align: center;
		border-top: 2px solid #5c3f8e;
		.mail-container{
			padding: 60px 0px;
		}
		h1{
			color:#5c3f8e;
			margin: 0px;
		}
		.form{
			max-width: 890px;
			margin: auto;
			input{
				background-color: #FFF;
			}
		}
	}
	#contact{
		text-align: center;
		.contact-container{
			padding: 60px 0px;
		}
		.form{
			max-width: 890px;
			margin: auto;
		}
	}
}