#our-story{
	#hero-section{
		.content{
			min-height: 550px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			color:#FFF;
			display: table;
			width: 100%;
			@media screen and (max-width: 890px){
				min-height: auto;
			}
			.aligned{
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				background-color: rgba(0,0,0, .25);
				padding-bottom: 60px;
				@media screen and (max-width: 890px){
					padding-right: 20px;
					padding-left: 20px;
				}
				h1{
					padding-top: 320px;
					text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
				}
			}
		}
	}
	#s-os-1{
		padding: 60px 0px;
		.quote{
			margin-bottom: 60px;
		}
	}
	#s-os-2{
		padding: 60px 0px;;
		h2{
			font-family: 'Helvetica-Black';
		}
		.header-container{
			margin-bottom: 80px;
		}
		.alternate-horiz{
			.row{
				margin-bottom: 60px;
				.image{
					float: left;
					width: 40%;
					border: 1px solid #b28a6e;
					padding: 40px;
					box-sizing: border-box;
					text-align: center;
					@media screen and (max-width: 890px){
						width: 100%;
						float: none;
						padding: 20px;
					}
					img{
						max-width: 100%;
						height: auto;
						position: relative;
						top: -60px;
						z-index: -1;
						max-height: 300px;
						@media screen and (max-width: 690px){
							top: 0px;
						}
					}
					.mailto{
						padding-top: 30px;
						img{
							width: 45px;
							height: auto;
						}
					}
				}
				.content{
					float: left;
					width: 60%;
					padding: 40px;
					box-sizing: border-box;
					@media screen and (max-width: 890px){
						width: 100%;
						float: none;
						padding: 20px;
					}
					.mailto{
						display: none;
					}
				}
				&:nth-child(even){
					border: 1px solid #6a6b84;
					padding: 40px;
					@media screen and (max-width: 490px){
						padding: 10px;
					}
					.mailto{
						padding-top: 5px;
						text-align: center;
						padding-bottom: 20px;
						img{
							width: 45px;
							height: auto;
						}
					}
					.content{
						text-align: center;
						.mailto{
							display: block;
						}
						.bio{
							text-align: justify;
						}
					}
					.image{
						float: right;
						border: 0px;
						padding: 0px;
						@media screen and (max-width: 890px){
							float: none;
						}
						img{
							top: 0px;
							right: -60px;
							max-height: 300px;
							@media screen and (max-width: 890px){
								right: 0;
							}
						}
						.mailto{
							display: none;
						}
					}
				}
			}
		}
	}
}