#apply-now{
	.wrapper{
		padding: 80px 40px;
		.form{
			max-width: 890px;
			margin: auto;
			.header-content{
				h1{
					margin-bottom: 40px;
				}
				padding-bottom: 40px;
			}
			.group{
				margin-bottom: 20px;
			}
		}
	}
	#referred{
		position: relative;
		top: -10px;
	}
}