h1,h2,h3,h4,h5,h6,p,li{
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 15px;
}

h1{
	font-size: 2.5em;
	font-family: 'Helvetica-Black';
	@media screen and (max-width: 390px){
		font-size: 2.25em;
	}
}

h2{
	font-size: 2.25em;
	@media screen and (max-width: 390px){
		font-size: 2em;
	}
}

h3{
	font-size: 2em;
	@media screen and (max-width: 390px){
		font-size: 1.75em;
	}
}

h4{
	font-size: 1.75em;
	@media screen and (max-width: 390px){
		font-size: 1.5em;
	}
}

h5{
	font-size: 1.5em;
	@media screen and (max-width: 390px){
		font-size: 1.25em;
	}
}

h6{
	font-size: 1em;
}

p{
	font-size: 1em;
	line-height: 1.5;
	font-family: 'HelveticaNeueLight';
}

ul{
	list-style: disc;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-family: 'HelveticaNeueLight';
	font-size: 1em;
}

ol{
	list-style: decimal;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-family: 'HelveticaNeueLight';
}

strong,
b{
	font-weight: bold;
}