a img {outline : none;}
#special-events{
	width: 100%;
	overflow: hidden;
	#special-v-1{
		padding-bottom: 70px;
		.four-columns{
			.col{
				img{
					max-height: 125px;
				}
				h3{
					font-size: 1.45em;
				}
			}
		}
	}
	#special-v-2{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: top center;
		padding-top: 80px;

		h2{
			font-size: 3.5em;
			@media screen and (max-width: 390px){
				font-size: 2.5em;
			}
			font-family: 'Helvetica-Black';
		}
		p.quote{
			margin-top: 80px;
			margin-bottom: 80px;
		}
		p{
			margin-bottom: 20px;
		}
		.three-columns{
			.col{
				text-align: center;
				position: relative;
				h3{
			    	font-size: 1.45em;
			    }
			    img{
			    	max-width: 100px;
			    }
				.text{
					position: absolute;
				    bottom: 20px;
				    left: 50%;
				    width: 100%;
				    padding: 20px 40px;
				    box-sizing: border-box;
				    .btn{
						padding: 20px 0px;
					    box-sizing: border-box;
					    position: relative;
					    left: calc(-50% - 40px);
					    width: 100%;
					}
				}
			}
		}
	}
	#special-v-3{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: top center;
		background-attachment: fixed;
		.wrapper{
			text-align: center;
			color:#FFF;
			padding-top: 225px;
			padding-bottom: 75px;
			h2{
				font-family: 'Helvetica-Black';
			}
			.quote{
				color:#FFF;
			}
			.btn{
				font-size: 125%;
			}
		}
	}
	#special-v-4{
		padding: 60px 0px;
		h2{
			font-size: 3.5em;
			font-family: 'Helvetica-Black';
		}
		p.quote{
			margin-top: 80px;
			margin-bottom: 80px;
		}
		p{
			margin-bottom: 20px;
		}
		.three-columns{
			.col{
				text-align: center;
				position: relative;
				h3{
			    	font-size: 1.45em;
			    }
				.text{
					position: absolute;
				    bottom: 20px;
				    left: 50%;
				    width: 100%;
				    padding: 20px 40px;
				    box-sizing: border-box;
				    @media screen and (max-width: 390px){
						bottom: auto;
					}
				    .btn{
						padding: 20px 40px;
					    box-sizing: border-box;
					    position: relative;
					    left: calc(-50% - 40px);
					    width: 100%;
					}
				}
			}
		}
	}

	#special-v-5{

		.slider-container{
			position: relative;
			.control{
				position: absolute;
				height: 100%;
				width: 20px;
				z-index: 99999;
				img{
					margin-top: -20px;
				}
				&#left-col{
					left: 0px;
					padding-left: 10px;
					display: none;
					&.active{
						display: block;
					}
				}
				&#right-col{
					right: 0px;
					padding-right: 10px;
					display: none;
					&.active{
						display: block;
					}
				}
			}
			.columns{
				transition: all .5s ease-in-out;
				.col{
					float: left;
					-webkit-background-size: cover;
					-moz-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
					background-position: top center;
					box-sizing: border-box;
					position: relative;

					.overlay{
						background-color: rgba(0,0,0,.5);
						padding-top: 210px;
						padding-bottom: 50px;
						padding-left: 20px;
						padding-right: 20px;
						width: 100%;
						height: 100%;
						box-sizing: border-box;

						h3{
							color:#FFF;
							margin: 0px;
							font-weight: bold;
							text-transform: uppercase;
						}
						p{
							span{
								display: block;
								color:#FFF;
							}
							margin: 0px;
						}
					}
				}
			}
		}
	}

	#special-v-6{
		background-color: #5c3f8e;
		padding: 30px 0px;
		color:#FFF;
		p{
			font-size: 150%;
		}
		.btn{
			font-size: 150%;
			min-width: 250px;
		}
	}

	#special-v-7{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: top center;
		background-attachment: fixed;
		padding: 80px 0px;
		color:#FFF;
		.wrapper{
			h2{
				font-family: 'Helvetica-Black';
			}
			.quote{
				color:#FFF;
				margin-top: 40px;
				margin-bottom: 40px;
			}
			.three-columns{
				.col{
					img{
						max-height: 100px;
					}
					h3{
						text-transform: uppercase;
						margin-top: 20px;
						font-size: 1.45em;
					}
				}
			}
		}
	}

	#special-v-8{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: top center;
		background-attachment: fixed;
		.wrapper{
			text-align: center;
			color:#FFF;
			padding-top: 150px;
			padding-bottom: 150px;
			h2{
				font-family: 'Helvetica-Black';
			}
			.quote{
				color:#FFF;
			}
			.btn{
				font-size: 125%;
			}
		}
	}

}